p.me{
	vertical-align: middle;
	font-size: 4em;
	display: inline;
}
img.me{
	padding: 10px;
	width: 200px;
	height: 230px;
}


td.navbar{
	width:20%;
	text-align: center;
}

.exampleSpace{
	display: block;
	width:auto;
	background-color:#ffffff;
	padding:4px;
	padding-left:7px;
	border-left:10px solid #0961A6;
	border-right: 10px solid #0961A6;
	font-size:1.8em;
	font-family:Garamond;
	border-radius:6px;
}


#content {
	position: relative;
	left: 125px;
	background-color: #F0F8FF;;
	padding: 10px;
	width: 750px;
	margin: 5px;
	padding: 5px;
}

#example{
	position:relative;
	top:100px;
	left:250px;
	width:100px;
	height:100px;
	background-color: #3F4E59;
}

#footer{
	z-index: 10;
	position:fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #F0F8FF;
}
#header{
	z-index: 10;
	background-color: #F0F8FF;
	width:100%;
	position: fixed;
	display: inline-block;
}

#main {
	z-index:1;
	color: #F0F8FF;
	position:relative;
	top:400px;
	display: block;
	background-color: #B8CFE6;
	text-align: center;
}

#sidebarLeft{
	position: fixed;
	width: 108px;
	background-color: #B8CFE6;
	margin: 5px 5px 5px 0px;
	padding: 5px;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

a:link {
	text-decoration: none;
	display: block;
}
a:visited {
	color: #6E6C64;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	font-weight: 900;
	background-color: #CDDDEE;
}

body {
	background-color: #3F4E59;
	color: #2E5573;
	margin:0;
	padding:0;
}

div {
	display: inline-block;
}



table {
	border: 3px solid black;
	width: 100%;

}

table tr td a {
	text-decoration: none;
	border: px solid black;
	padding:5px;
}

table tr td p,li {
	font-size: 1.5em;
}

table tr th {
	width: 33%;
	padding: 5px;
	text-align: center;
}