a {
	text-decoration: none;
	padding:0px;
}

a:link {
	display: block;
}
a:visited {
	color: #6E6C64;
}
a:hover, a:active, a:focus {
	font-weight: 900;
	background-color: #CDDDEE;
}

body {
	font-family: times,serif;
	background-color: #3F4E59;
	color: #2E5573;
	margin:0;
	padding:0;
}

div{ 
	border-radius: 10px;
}

footer table{
	background-color: #F0F8FF;
}

footer{
	opacity: .3;
	z-index: 10;
	position:fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 56px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #3F4E59;
}

header{
	position: fixed;
	top:30px;
	width:525px;
	background-color: #F0F8FF;
	display: inline-block;
	z-index: 10;
	opacity: .8;
	box-shadow: 10px 10px 0px;
}

nav a:link {
	width: 20%;
	text-align: center;
	display: inline-block;
	font-size: 1.5em;
	color: ;
	margin: -2px;
	border-radius: 5px;
	background-color: transparent;
	color: #CDDDEE;
}

nav a:visited {
	color: #7490A6;
}
nav a:hover, nav a:active, nav a:focus {
	font-weight: 900;
	color: #3F4E59;
	background-color: #CDDDEE;
}
nav {
	width: 100%;
	position:fixed;
	background-color: #2E5573;
	z-index: 10;
}

ol{
	padding-right: 40px;
}

section {
	z-index:1;
	opacity: .6;
	color: #2E5573;
	background-color:#F0F8FF;
	position: absolute;
	top: 300px;
	left: 175px;
	display: block;
	text-align: center;
	width:80%;
	margin: 0px auto 80px auto;
	border-radius: 10px;
	border-left:10px solid #3F4E59;
	border-right: 10px solid #3F4E59;
}

table {
	border: 3px solid black;
	width: 100%;
	border-radius: 10px;
	height:100%;
}

table tr th {
	width: 33%;
	padding: 5px;
	text-align: center;
}

td.navbar{
	width:20%;
	text-align: center;
}

.content {
	position: relative;
	left: 125px;
	background-color: #B8CFE6;
	padding: 10px;
	width: 80%;
	margin: 5px 5px 81px 5px;
	padding: 5px;
	z-index:1;
	font-size: 1.5em;
}

/*.content a:link {
	text-decoration: underline;
	padding: 0px;
	display: inline;
}
.content a:hover, a:active, a:focus {
	font-weight: normal;
	background-color: #B8CFE6;
}
*/

.exampleSpace{
	display: block;
	width:auto;
	background-color:#ffffff;
	padding:4px;
	padding-left:7px;
	border-left:10px solid #0961A6;
	border-right: 10px solid #0961A6;
	font-size:1.5em;
	font-family:Garamond;
	border-radius:6px;
}

#blockBottom{
	border-radius: 0px;
	position:fixed;
	bottom:0px;
	left:0px;
	height:10px;
	width: 100%;
	z-index:3;
	background-color: #3F4E59;
}

#blogTitle{
	font-size: 2em;
	text-decoration: none;	
	font-weight: bold;
	background-color: #F0F8FF;
}
a:link#blogTitle {
	display: block;
}

a:visited#blogTitle{
	color: #6E6C64;
}

a:hover#blogTitle, a:active#blogTitle, a:focus#blogTitle{
	font-weight: 900;
	background-color: #CDDDEE;
}

#sidebarLeft{
	position: fixed;
	width: 108px;
	background-color: #F0F8FF;
	margin: 5px 5px 5px 0px;
	padding: 5px;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
#title {
	position: absolute;
  top: 25%;
	height:10em;
	text-align: left;
	display:inline;
	width: 331px;
}
