a {
	text-decoration: none;
	padding:5px;
}

a:link {
	display: block;
}
a:visited {
	color: #6E6C64;
}
a:hover, a:active, a:focus {
	font-weight: 900;
	background-color: #CDDDEE;
}

body {
	font-family: times,serif;
	background-color: #3F4E59;
	color: #2E5573;
	margin:0;
	padding:0;
}

div{ 
	border-radius: 10px;
}

ol{
	padding-right: 40px;
}
table {
	border: 3px solid black;
	width: 100%;
	border-radius: 10px;
	height:100%;
}

table tr th {
	width: 33%;
	padding: 5px;
	text-align: center;
}

td.navbar{
	width:20%;
	text-align: center;
}

.content {
	position: relative;
	left: 125px;
	background-color: #B8CFE6;
	padding: 10px;
	width: 80%;
	margin: 5px 5px 81px 5px;
	padding: 5px;
	z-index:1;
	font-size: 1.5em;
}
.content a:link {
	text-decoration: underline;
	padding: 0px;
	display: inline;
}
.content a:hover, a:active, a:focus {
	font-weight: normal;
	background-color: #B8CFE6;
}

.exampleSpace{
	display: block;
	width:auto;
	background-color:#ffffff;
	padding:4px;
	padding-left:7px;
	border-left:10px solid #0961A6;
	border-right: 10px solid #0961A6;
	font-size:1.5em;
	font-family:Garamond;
	border-radius:6px;
}

#blockBottom{
	border-radius: 0px;
	position:fixed;
	bottom:0px;
	left:0px;
	height:20px;
	width: 100%;
	z-index:3;
	background-color: #3F4E59;
}

#blogTitle{
	font-size: 2em;
	text-decoration: none;	
	font-weight: bold;
	background-color: #F0F8FF;
}
 a:link#blogTitle {
	display: block;
}

a:visited#blogTitle{
	color: #6E6C64;
}

a:hover#blogTitle, a:active#blogTitle, a:focus#blogTitle{
	font-weight: 900;
	background-color: #CDDDEE;
}

#footer table{
	background-color: #F0F8FF;
}
#footer{
	opacity: .6;
	z-index: 10;
	position:fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 56px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #3F4E59;
}

#main {
	z-index:1;
	color: #F0F8FF;
	position:relative;
	top:400px;
	display: block;
	background-color: #B8CFE6;
	text-align: center;
}

#sidebarLeft{
	position: fixed;
	width: 108px;
	background-color: #F0F8FF;
	margin: 5px 5px 5px 0px;
	padding: 5px;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

#tableOfContents{
	display: block;
	width:80%;
	text-align: center;
	margin: auto;
	background-color:#F0F8FF;
	border-left:10px solid #3F4E59;
	border-right: 10px solid #3F4E59;
}